<% switch (endpoint) {

	case 'callingBitcoinRpcError' : %>
				
		<h1 class="mt-4">Oops, an error occurred on calling Bitcoin RPC</h1>
		<p><strong>Response:</strong> <%= bitcoinError %></p>
		
	<% break;

	case 'receivedBitcoinRpcError' : %>
				
		<h1 class="mt-4">Oops, an error occurred on receiving Bitcoin RPC data</h1>
		<p><strong>Response:</strong> <%= bitcoinError %></p>
		
	<% break;

	case 'getbalance' : %>
				
		<h1 class="mt-4">/getbalance</h1>
		<p>returns the server's total available balance.</p>
		<p><strong>Response:</strong> <%= data %></p>
		
	<% break;
	
	case 'getbestblockhash' : %>
					
		<h1 class="mt-4">/getbestblockhash</h1>
		<p>Returns the hash of the best (tip) block in the longest block chain.</p>
		<p><strong>Response:</strong> <a href="/getBtcBlockData?endpoint=getblock&blockhash=<%= data %>"><%= data %></a> </p>

	<% break;

	case 'getblockcount' : %>

		<h1 class="mt-4">/getbestblockhash</h1>
		<p>Returns the number of blocks in the longest block chain.</p>
		<p><strong>Response:</strong> <%= data %></p>

	<% break;

	case 'getconnectioncount' : %>

		<h1 class="mt-4">/getconnectioncount</h1>
		<p>Returns the number of connections to other nodes.</p>
		<p><strong>Response:</strong> <%= data %></p>

	<% break;

	case 'getdifficulty' : %>

		<h1 class="mt-4">/getdifficulty</h1>
		<p>Returns the proof-of-work difficulty as a multiple of the minimum difficulty.</p>
		<p><strong>Response:</strong> <%= data %></p>

	<% break;

	case 'getmininginfo' : %>

		<h1 class="mt-4">/getmininginfo</h1>
		<p>Returns an object containing various state info.</p>
		<p><strong>Blocks:</strong> <%= data.blocks %></p>
		<p><strong>Difficulty:</strong> <%= data.difficulty %></p>
		<p><strong>Networkhashps:</strong> <%= data.networkhashps %></p>
		<p><strong>Pooledtx:</strong> <%= data.pooledtx %></p>
		<p><strong>Chain:</strong> <%= data.chain %></p>
		<p><strong>Warnings:</strong> <%= data.warnings %></p>

	<% break;

	case 'blockDataForm' : %>

		<h1 class="mt-4">/getblock</h1>
		<p>Returns information about the block with the given hash.</p><br>

		<form action="/submitBtcBlockDataForm" method="POST" style="width: 50%;">

			<div class="form-group">
				<label for="blockhash">Enter blockhash:</label><br>
				<input id="blockhash" name="blockhash" class="form-control" type="text" maxlength="64" size="20" required>
			</div>
			
			<input type="submit" class="btn btn-secondary">
		</form>

	<% break;

	case 'getblock' : %>

		<h1 class="mt-4">/getblock</h1>
		<p>Returns information about the block with the given hash.</p>
		<p><strong>Hash:</strong> <%= data.hash %></p>
		<p><strong>Confirmations:</strong> <%= data.confirmations %></p>
		<p><strong>Strippedsize:</strong> <%= data.strippedsize %></p>
		<p><strong>Size:</strong> <%= data.size %></p>
		<p><strong>Weight:</strong> <%= data.weight %></p>
		<p><strong>Height:</strong> <%= data.height %></p>
		<p><strong>Version:</strong> <%= data.version %></p>
		<p><strong>VersionHex:</strong> <%= data.versionHex %></p>
		<p><strong>Merkleroot:</strong> <%= data.merkleroot %></p>
		<p><strong>Time:</strong> <%= data.time %></p>
		<p><strong>mediantime:</strong> <%= data.mediantime %></p>
		<p><strong>nonce:</strong> <%= data.nonce %></p>
		<p><strong>bits:</strong> <%= data.bits %></p>
		<p><strong>difficulty:</strong> <%= data.difficulty %></p>
		<p><strong>chainwork:</strong> <%= data.chainwork %></p>
		<p><strong>nTx:</strong> <%= data.nTx %></p>
		<p><strong>previousblockhash:</strong> 
			<a href="/getBtcBlockData?endpoint=getblock&blockhash=<%= data.previousblockhash %>"><%= data.previousblockhash %></a> 
		</p>
		<p><strong>tx:<br></strong>
			<% for(var i=0; i < data.tx.length; i++) { %>
				<span>
					<%= i+1 %>. <a href="/getBtcBlockData?endpoint=gettransaction&txId=<%= data.tx[i] %>"><%= data.tx[i] %></a> <br>
				</span>
			<% } %>
		</p><br>

	<% break;

	case 'gettransaction' : %>

		<h1 class="mt-4">/gettransaction</h1>
		<p>Returns an object about the given transaction containing:</p>
		<p><strong>Hash:</strong> <%= data.hash %></p>

	<% break;

} %>

